.office{
    width: 500px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

p{
    font-size: 20px;
    }

div{
    background-color: #123a56;
    
}

.navigation_bar{
  display: flex;
  justify-content: center;
}

  
